/* Angular Material Custom */


/**
 * TOP BAR
 */
md-toolbar.b-top-bar{
     min-height: 44px;
}

md-toolbar.b-top-bar > .md-toolbar-tools {
    height: 44px;
    max-height: 44px;
}

/**
 * Side nav
 */
.md-sidenav-right {
    top: 44px !important;
}

@media only screen and (min-width: 0) and (max-width: 959px) and (orientation: portrait) {
    .md-sidenav-right {
        top: 44px !important;
    }
}

@media only screen and (min-width: 0) and (max-width: 959px) and (orientation: landscape) {
    .md-sidenav-right {
        top: 44px !important;
    }
}

/**
 * Input container
 */

md-input-container.b-no-magin-t-b {
    margin-top: 0;
    margin-bottom: 0;
}

md-input-container > md-icon.b-fa-icon {
    top: 10px;
}



/**
 * BIG MESSAGE BOX
 */
.b-msg-list {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.b-msg:not(:first-child) {
    margin-top: 25px;
}

.b-msg.same:not(:first-child) {
    margin-top: 5px;
}

.b-visiable-hidden {
    visibility: hidden;
}

img.b-msg-usr-avatar {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

img.b-msg-usr-avatar.left {
    margin-right: 16px;
}

img.b-msg-usr-avatar.right {
    margin-left: 16px;
}

.b-msg-content > h4 {
    font-size: 13px;
    margin: 0;
}

.b-msg-content > .b-msg-img {
    margin-top: 5px;
    max-width: 300px;
    max-height: 300px;
}

.b-msg-content > .b-msg-text {
    border-radius: 10px;
    padding: 5px 10px;
    color: black;
    background: #F0EEEF;
    margin: 0;
}

.b-msg-content.me > .b-msg-text {
    color: white;
    background: #0783FC;
}


.b-msg-f {
    position: absolute;
    bottom: 0;
    width: 60%;
    padding: 5px;
    border-top: 2px solid #F0EEEF;
}

@media only screen and (min-width: 0) and (max-width: 1280px) {
    .b-msg-f {
        width: 80%;
    }
}


.b-msg-f textarea {
    resize: none;
    border: none;
    outline: none;
    overflow: hidden;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.b-msg-f .b-msg-ipt-txt {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}